
This is a localStorage demo. Open several tabs to this page, move your mouse
around, and fill out the form.

{{storage-demo}}

<p>
  <a href="http://github.com/jerel/ember-storage">Download the code</a>
</p>

